
<form  action="/customers" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" value=""><br>
  <label for="name">Phone</label>
  <input type="text" name="phone" value=""><br>
  <label for="">Animal Preference</label>
  <input type="text" name="animal_preference" value=""><br>
  <label for="">Breed Preference</label>
  <input type="text" name="breed_preference" value=""><br>
  <button type="submit">Add!</button>
</form>
