<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Gavin's Animal house</h1>


<%= yield %>

  </body>
</html>







<!-- <a href="/funny">/funny</a>
<a href="/not_funny">/not_funny</a>
<a href="/movies">/movies</a>
<a href="/music">/music</a>
<a href="/general">/general</a> -->
